.navigation-button {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    padding-left: 16px;
}

/* Top Navbar */
._2D64jIEK7wpUR_NlObDW76 {
    padding-top: 10px;
    margin-left: 16px;
}

/* Navigation Icon Forward */
.navigation-button svg:nth-child(2) {
    display: none;
}




