._1Ky59qmywxOUtNcI1cgmkX ._2Lu3d-5qLmW4i19ysTt2jT {
    padding: 6px 7px;
    /* color: transparent; */
    display: none;
}
._1Ky59qmywxOUtNcI1cgmkX ._2Lu3d-5qLmW4i19ysTt2jT:nth-of-type(1) {
    z-index: 99999;
    padding: 0 6px 0 0;
    /* color: #8b929a; */
    display: flex;
}